<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.didi.wanandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.WanApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="allowBackup">
        <activity android:name=".activity.MainActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:taskAffinity="com.didi.wanandroid.main_task"
            />
        <activity
            android:name=".activity.SigninActivity"
            android:taskAffinity="com.didi.wanandroid.main_task"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".activity.StartActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:taskAffinity="com.didi.wanandroid.main_task"
            ></activity>
    </application>

</manifest>